@model BitPro.SchoolMate.Transactions.Pages.AccountStatementReport.AccountStatementViewtData
@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<section class="invoice">
    @*<div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" style="text-align:center">
                    Account Statement<br />
                    From:@Model.aboutreport.FromDate.ToShortDateString() To:@Model.aboutreport.ToDate.ToShortDateString()
                    <small class="pull-right">Date: @DateTime.Now.ToShortDateString()</small>
                </h2>
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-8">
            <h2 class="page-header" style="text-align:center">Account Statement</h2>
            <h2 class="page-header" style="text-align:center">Account No:@Model.aboutreport.AccountNo</h2>
        </div>
        <div class="col-sm-4">Statement Period:@Model.aboutreport.FromDate.ToString("dd-MMM-yyy") To: @Model.aboutreport.ToDate.ToString("dd-MMM-yyy")</div>
    </div>
    <!-- info row -->
    <!-- /.row -->
    <!-- Table row -->
    <div>

        <table border="1" style="border-width:thin;border-color:gainsboro">
            <thead>
                <tr>
                    <th width="80px" style="text-align:center"><strong style="font-size:10px;font-style:normal">TrxDate</strong></th>
                    <th width="50px" style="text-align:center"><strong style="font-size:10px;font-style:normal">VNo</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">VType</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Ledger</strong></td>
                    <th width="200px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Description</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">DebitAmount</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">CreditAmount</strong></th>
                    <th width="100px" style="text-align:center"><strong style="font-size:10px;font-style:normal">Balance</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model.Details)
                {
                <tr>
                    @if (d.TrxDate == "Opening")
                    {
                        <td><strong style="text-align:center;font-size:8px;font-style:normal">@d.TrxDate</strong></td>
                    }
                    else
                    {
                        <td><strong style="text-align:center;font-size:8px;font-style:normal">@d.TrxDateAc.ToString("dd-MMM-yyy")</strong></td>
                    }

                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@d.VNo</strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.VoucherType)</strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.GL)</strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.Remarks)</strong></td>
                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.DebitAmount)</strong></td>
                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.CreditAmount)</strong></td>
                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@(d.Balance)</strong></td>
                </tr>
                }
                <tr>
                    <td><strong style="font-size:8px;font-style:normal">Total:</strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:center"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@Model.aboutreport.TotalDebit</strong></td>
                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center">@Model.aboutreport.TotalCredit</strong></td>
                    <td style="text-align:right"><strong style="font-size:8px;font-style:normal;text-align:center"></strong></td>
                </tr>

            </tbody>
        </table>
    </div>




    @*<div class="row">
            <div class="col-xs-6">

            </div>
             /.col
            <div class="col-xs-6">
                <p class="lead">Amount Due @(Model.Order.OrderDate.Value.AddDays(10).ToShortDateString())</p>

                @{
                    var subTotal = Model.Details.Sum(x => x.LineTotal ?? 0);
                }

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>$@subTotal.ToString("#,##0.00")</td>
                        </tr>
                        <tr>
                            <th>Tax (9.3%)</th>
                            <td>$@((subTotal * 0.093m).ToString("#,##0.00"))</td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td>$5.80</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>$@((subTotal * 1.093m).ToString("#,##0.00"))</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>*@
</section>
